{% load static %}

.to_main{
	position: fixed;
	background: white;
	width: 100%;
	top: 0%;
	height: 5%;
	z-index: 2;
}
.to_main img{
	height: 50px;
	width: 50px;
	float: both;
}
.fon {
	position: absolute;
	background: linear-gradient(transparent 65px, white), url(images/179499abed3fa10486a101468e1c77f7.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: grayscale(80%);
	opacity: 0.2;
	z-index: -1;
}

section {
    position: relative;/*относительное позиционирование*/
    width: 100%;/*секция на всю ширину экрана*/
    height: 40vh;/*высота на всю видимую область*/
	z-index: 1;
}
section .fon_top {
	background: url(images/22008359246_67e081535d_b.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 40vh;
	width: 100%;
	position: absolute;
	clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 98% 100%, 96% 96%, 94% 93%, 93% 100%, 92% 95%, 87% 97%, 84% 95%, 82% 99%, 77% 97%, 73% 100%, 
	72% 94%, 70% 99%, 68% 93%, 64% 95%, 62% 90%, 59% 94%, 57% 98%, 53% 96%, 50% 99%, 48% 94%, 44% 99%, 41% 96%, 39% 99%, 36% 98%, 34% 100%, 31% 97%, 28% 99%, 25% 95%, 23% 100%, 
	21% 98%, 18% 100%, 15% 95%, 12% 98%, 10% 95%, 8% 97%, 6% 93%, 3% 99%, 0% 100%, 0% 100%);
}
section .fon_top_1 {
	background: url(images/193135.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 40vh;
	width: 100%;
	position: absolute;
	clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 98% 100%, 96% 96%, 94% 93%, 93% 100%, 92% 95%, 87% 97%, 84% 95%, 82% 99%, 77% 97%, 73% 100%,
	72% 94%, 70% 99%, 68% 93%, 64% 95%, 62% 90%, 59% 94%, 57% 98%, 53% 96%, 50% 99%, 48% 94%, 44% 99%, 41% 96%, 39% 99%, 36% 98%, 34% 100%, 31% 97%, 28% 99%, 25% 95%, 23% 100%,
	21% 98%, 18% 100%, 15% 95%, 12% 98%, 10% 95%, 8% 97%, 6% 93%, 3% 99%, 0% 100%, 0% 100%);
}
section .fon_top_2 {
	background: url(images/profile-9082-11195482674554457949.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 40vh;
	width: 100%;
	position: absolute;
	clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 98% 100%, 96% 96%, 94% 93%, 93% 100%, 92% 95%, 87% 97%, 84% 95%, 82% 99%, 77% 97%, 73% 100%,
	72% 94%, 70% 99%, 68% 93%, 64% 95%, 62% 90%, 59% 94%, 57% 98%, 53% 96%, 50% 99%, 48% 94%, 44% 99%, 41% 96%, 39% 99%, 36% 98%, 34% 100%, 31% 97%, 28% 99%, 25% 95%, 23% 100%,
	21% 98%, 18% 100%, 15% 95%, 12% 98%, 10% 95%, 8% 97%, 6% 93%, 3% 99%, 0% 100%, 0% 100%);
}
section .fon_top_3 {
	background: url(images/child.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 40vh;
	width: 100%;
	position: absolute;
	clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 98% 100%, 96% 96%, 94% 93%, 93% 100%, 92% 95%, 87% 97%, 84% 95%, 82% 99%, 77% 97%, 73% 100%,
	72% 94%, 70% 99%, 68% 93%, 64% 95%, 62% 90%, 59% 94%, 57% 98%, 53% 96%, 50% 99%, 48% 94%, 44% 99%, 41% 96%, 39% 99%, 36% 98%, 34% 100%, 31% 97%, 28% 99%, 25% 95%, 23% 100%,
	21% 98%, 18% 100%, 15% 95%, 12% 98%, 10% 95%, 8% 97%, 6% 93%, 3% 99%, 0% 100%, 0% 100%);
}

.vstavka{
    background: url(images/strelka.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 664px;
	box-shadow: none;
	background-size: contain;
	height: 359px;
	position: absolute;
	z-index: -1;
	opacity: 0.4;
	left: 55%;
	transform: rotate(25deg);
}
#text_Perm {
	position: absolute;
	display: flex;
	background: rgba(184, 134, 11, 0.2);
	width: 100%;
	height: 40vh;
	justify-content: center;
	align-items: center;	
}
#puteshestvia {	
	font-family: segoe script;
	font-size: 46px;
	color: white;
	font-weight: bold;
	text-align: center;
}
#text_marsrut{
	position: relative;
	display: block;
	width: 100%;
	height: 40vh;	
}
.vibor{
	margin-top: 100px;
	font-family: Palatino Linotype;
	font-size: 26px;
	font-weight: bold;
	color: #808080;
	-webkit-text-stroke: 0.3px black;
}

#usv_stolbi{
	position: relative;
	display: block;
}

#pict_USVA {
	position: relative;
	float:right;
	margin-right: 1%;

	box-shadow:0px 0px 10px 0px #808080;
	border-radius: 20px;
}
#text_usv_stolbi{
	position: relative;	
	margin-top: 10%;
	margin-bottom: 20%;
	font-family: Palatino Linotype;
	font-size: 18px;
	/* color: #D2691E; */
	text-align: left;
	margin-left: 2%;
}

ul {
	list-style-type: none;
	}
.my_costom_button{
	color: #D2691E;
	background: rgba(255, 250, 250, 0.6);
	box-shadow:0px 0px 10px 0px #808080;
	width:350px;
	border:none;
	margin-top: 5px;
	height: 50px;
	border-radius: 5px;

}

#polud_vetlan{
	position: relative;
	display: block;
}

#text_polud_vetlan {
 	position: relative;
	display: inline-block;
	margin-top: 10%;
	margin-bottom: 25%;
	font-family: Palatino Linotype;
	font-size: 18px;
	right: -1%;
	/* color: #D2691E; */
	text-align: right;
}
#pict_PV {
	position: relative;
	float: left;
	margin-left: 1%;
	margin-top: 15%;
	box-shadow:0px 0px 10px 0px #808080;
	border-radius: 20px;	
}
img  {
    height: 330px;
	width:33%;
}
.k{
	background-color: rgba(255, 250, 250, 0.6) !important;
	box-shadow:0px 0px 10px 0px #808080 !important;
	border:none !important; 
	color: #D2691E !important;
	text-align: left !important;
	font-family: Palatino Linotype !important;
	font-size: 18px !important;
}

#the_end{
	position: relative;
	display: flex;
    margin-top: -10%;
	width: 100%;

}
#the_end .fon_bottom {
	position: relative;
	background: linear-gradient(360deg, transparent 15px, white), url(images/723366b0ee9949ce425e25a10d62bf00.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 60vh;
	width: 100%;
	margin-top: 20%;
	clip-path: polygon(0% 0%, 3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 
	45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 
	85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 2%, 100% 0%, 100% 100%, 0% 100%);
	
}

#Perm_bottom{
	position: absolute;
	width: 100%;
	height: 60vh;
	justify-content: left;
	align-items: left;
}
#puteshestvia_1 {	
	font-family: Palatino Linotype;
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
	text-align: left;
	color: #808080;
	-webkit-text-stroke: 0.3px black;
}


#contacti {
	position: absolute; 
	margin-top: 160px;
	font-family: Palatino Linotype;
	font-size: 24px;
	color: #D2691E;
	margin-left: 20px;
	font-weight: bold;	
}
#contacti p {
	float: left;
	margin-right: 50px;
	}
#sotseti{
	position: absolute;
	margin-top: 250px;
	font-family: Palatino Linotype;
	font-size: 24px;
	color: #D2691E;
	margin-left: 20px;
	font-weight: bold;	
}
#sotseti p{
	float: left;
	margin-right: 125px;
} 
#sotseti_img {
	position: absolute;
	margin-top: 295px;
	margin-left: 20px;
}
#sotseti_img p{
	float: left;
	margin-right: 222px;
}
a .fn:hover{
	content: url('images/fb.png');
	width:35px;
	height:35px;
	}
a .inst:hover{
	content: url('images/insta.png');
	width:35px;
	height:35px;
	}
a .ytub:hover{
	content: url('images/youtube.png');
	width:35px;
	height:35px;
	}
a .vatzap:hover{
	content: url('images/icons8-whatsapp-48.png');
	width:35px;
	height:35px;
	}
a .telegramm:hover{
	content: url('images/icons8-телеграмма-app-48.png');
	width:35px;
	height:35px;
	}
