<p>
  <a style='width: 60%; color: #D2691E; ' class="k btn btn-primary" data-bs-toggle="collapse" href="#collapseExampleTwo{{ item.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
      {{ item.description_1|safe }}
  </a>
</p>
				<div class="collapse" id="collapseExampleTwo{{ item.id }}">
					<div class="card card-body" style="text-align: left">
                        {{ item.description_2|safe }}
                    <div>
	<div style='float: left'>
		<strong style='color: #D2691E;'>Ближайшие даты:</strong>
		<ul style='margin-left: -33px;'>
			<li>&#10001; {{ item.date_1 }} </li>
			<li>&#10001; {{ item.date_2 }} </li>
			<li>&#10001; {{ item.date_3 }} </li>
            <li>&#10001; {{ item.date_4 }} </li>
		</ul>
	</div>
	<div style='margin-left: 50%;'>
		<strong style='color: #D2691E;'>&#128176; Цена:</strong>
		<ul style='margin-left: -33px;'>
			<li>&#10001; <span style='color: #D2691E;'>Взрослый:</span> {{ item.price_ank }} рублей с человека; </li>
			<li>&#10001; <span style='color: #D2691E;'>Детский:</span> {{ item.price_child }} рублей с человека </li>
		</ul>
	</div>
</div>
<button class='my_costom_button'>&#9989; Забронировать тур!</button><br>
	<!-- Описание тура -->
<div class="accordion" id="accordion{{ item.id }}">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}_1" aria-expanded="true" aria-controls="collapse{{ item.id }}_1">
        <strong style='color: #D2691E; font-size: 18px'>Программа тура</strong>
      </button>
    </h2>
    <div id="collapse{{ item.id }}_1" class="accordion-collapse collapse show" data-bs-parent="#accordion{{ item.id }}">
      <div class="accordion-body">
          {{ item.program|safe }}
      </div>
    </div>
  </div>

<div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}_2" aria-expanded="false" aria-controls="collapse{{ item.id }}_2">
        <strong style='color: #D2691E; font-size: 18px'>В стоимость включено</strong>
      </button>
    </h2>
    <div id="collapse{{ item.id }}_2" class="accordion-collapse collapse" data-bs-parent="#accordion{{ item.id }}">
      <div class="accordion-body">
        {{ item.includeprice }}
		<hr>
		{{ item.not_includeprice|safe }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}_3" aria-expanded="false" aria-controls="collapse{{ item.id }}_3">
        <strong style='color: #D2691E; font-size: 18px'>Памятка туристу</strong>
      </button>
    </h2>
    <div id="collapse{{ item.id }}_3" class="accordion-collapse collapse" data-bs-parent="#accordion{{ item.id }}">
      <div class="accordion-body">
	Форма одежды походная (спортивно-свободная) соответствующая погодным условиям.
	Удобная обувь (треккинговая или закрытая кожаная обувь - должна быть непромокаемая).
	<hr>
	    {{ item.pamiatka|safe }}
      </div>
    </div>
  </div>
</div>
<!-- Конец описания тура -->
		</div>
</div>
